/*selectores basicos*/
/*por etiqueta*/
p {
    color: blue;/*esta propiedad es para darle color al contenido*/
}
/*por clase (reutilizable)*/
.boton {
    background-color: rgb(165, 60, 60);
}
/*por atributo*/
input[type="text"] {
    color: red;
}
/*combinado hijo directo*/
nav > a {
    text-decoration: none; /*quita el subrayado de los enlaces*/
}
/*modelo de caja*/
aside{
    background: rgb(109, 41, 41);
    width: 200px; /*ancho del elemento*/
    height: 150px; /*alto del elemento*/
}
div{
    background: rgb(56, 41, 41);

    width: 50%; /*ando cel elemento*/
    height: 150px; /*alto del elemento*/

    /*´padding se usa para el espacio que debe tener el contemido dentro de la caja*/

    padding-top:  5px;
    padding-left: 10px;
    /*padding.5px estole dara 5pixeles a los 4 lados del padding/*

    border-radius: 8px; /*esto es para redondear los bordes de la caja*/
    border: 2px solid black; 

    marging: 20px; 



}